/*** MOBILE FIRST ***/
/*** SMARTPHONE ***/
@media (max-width: 480px) {
    .grid-1 {
        display: grid;
        grid-template-columns: auto;
    }
}

    /*** TABLET ***/
@media (min-width: 481px) and (max-width: 1023px) {
    .grid-1 {
        display: grid;
        grid-template-columns: auto; 
    }
}

/*** DESKTOP ***/
@media (min-width: 1025px) {
    .grid-1{
        display: grid;
        grid-template-columns: auto auto;
    }
}